main {
    padding-top: 2rem;
}

.form-title {
    text-align: center;
    font-size: 1.8rem;
    color: #6A99E8;
}

.order-form input {
    display: block;
    margin-top: 1rem;
    width: 100%;
    font: inherit;
}

.order-form button {
    margin-top: 1rem;
    font: inherit;
}