main {
    padding-top: 2rem;
}

.background {
    background: url('../../images/bg-image.jpg') center/cover no-repeat;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.plan {
    width: 60%;
    margin: 1rem 0;
    border: 2px solid #627FFF;
    border-left: none;
    border-radius: 8px;
    text-align: right;
    z-index: 0;
    position: relative;
}

.plan a {
    text-decoration: none;
    color: #365bff;
    display: block;
    padding: 2rem;
}

.plan__info {
    padding: 1rem;
    border: 1px solid #7b93ff;
    border-radius: 8px;
    background: #ffffff;
    font-size: 1rem;
}

.plan__badge {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1.2rem;
    font-size: 1rem;
    background: #365bff;
    color: #ffffff;
    padding: 0.1rem 0.5rem;
    border-radius: 3px;
}

.clearfix {
    clear: both;
}

#plus {
    background: #9eb0ff;
}

#free {
    background: #d1d9ff;
    float: right;
    border-right: none;
    border-left: 2px solid #627FFF;
}

#premium {
    background: #627FFF;
}

#premium .plan__title{
   color: #ffffff;
}