* {
    box-sizing: border-box;
}
@font-face {
    font-family: Vazir-FD;
    src: url(../fonts/Vazir-FD.woff);
}
body{
    margin: 0;
    font-family: Vazir-FD;
}

.main-header {
    width: 100%;
    padding: 0.5rem 1rem;
    background: #5BB318;
    position: fixed;
    z-index: 1;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-header__logo {
    color: #C4FB6D;
    font-size: 1.4rem;
    text-decoration: none;
}
.main-nav {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: right;
    vertical-align: middle;
}
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
} 
.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}
.main-nav__item a {
    text-decoration: none;
    color: #C4FB6D;
}
.main-nav__item a:hover,
.main-nav__item a:active {
color:#ffffff;
}

.main-nav__item--account a {
    background: #ecfdd148;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--account a:hover,
.main-nav__item--account a:active { 
    color: #C4FB6D;
}

.main-footer {
    background: #424242;
    padding: 2rem;
}

.main-footer__items {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-footer__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__item a {
color: #f5f5f5;
text-decoration: none;
}

.main-footer__item a:hover,
.main-footer__item a:active {
    color: #e0e0e0;
}